body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
 /*
   * Content
   */
  
   [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }

  .tablescroll{
      height: 250px !important;
      overflow: scroll;
  }

  .tablerouge{
    border-width:1px; 
    border-style:solid; 
    border-color: red;
  }

  thead{
      background-color: #F08080;
  }
  